<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/libs.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<!-- Header -->
	<header>
		<div class="header_left">
			<div class="logo_wrapper"><a href="#"><img src="../img/logo.svg" alt="logo" class="logo"></a></div>
		</div>
		<div class="header_right">
			<div class="socials_block">
				<a class="soc" href="#" target="blank"><i class="fa fa-facebook-f"></i></a>
				<a class="soc" href="#" target="blank"><i class="fa fa-twitter"></i></a>
				<a class="soc" href="#" target="blank"><i	class="fa fa-linkedin"></i></a>
				<a class="soc" href="#" target="blank"><i class="fa fa-google"></i></a>
			</div>
			<div class="menu_block">
				<button class="hamburger hamburger--spin" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			</div>
		</div>
	</header>
	<!-- !Header -->

	<!-- Section slider -->
	<section class="main-slider">
		<div class="main-slider_left"></div>
		<div class="main-slider_right"></div>
	</section>
	<!-- !Section slider -->



<script src="js/libs.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>