<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to Maldives</title>
	<link rel="stylesheet" href="css/styles.min.css">
	<link rel="stylesheet" href="css/libs.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<nav id="menu">
		<ul>
			<li><a href="#welcome">WELCOME</a></li>
			<li><a href="#bestintravel">BEST IN	TRAVEL</a></li>
			<li><a href="#services">SERVICES</a></li>
			<li><a href="#gallery">GALLERY</a></li>
			<li><a href="#blog">BLOG</a></li>
		</ul>
	</nav>
	<main id="panel">
			<!-- Header -->
	<header>
		<div class="header_left">
			<div class="logo_wrapper"><a href="#"><img src="../img/logo.svg" alt="logo" class="logo"></a></div>
		</div>
		<div class="header_right">
			<div class="socials_block">
				<a class="soc" href="#" target="blank"><i class="fa fa-facebook-f"></i></a>
				<a class="soc" href="#" target="blank"><i class="fa fa-twitter"></i></a>
				<a class="soc" href="#" target="blank"><i class="fa fa-linkedin"></i></a>
				<a class="soc" href="#" target="blank"><i class="fa fa-google"></i></a>
			</div>
			<div class="menu_block">
				<button class="hamburger hamburger--spin" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</div>
	</header>
	<!-- !Header -->

	<!-- Section slider -->
	<section id="main-slider" class="main-slider">
		<div class="slider-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-left-col">
						<div class="suptitle">The maldives</div>
						<div class="title">Creates 'a place beyond time' for its guests.</div>
						<a href="#" class="a button">LEARN MORE</a>
					</div>
					<div class="slide-right-col">
						<img src="../img/header-slider-slide-img-01.jpg" alt="">
						<div class="slide-descr">01 FREEDOM FROM TIME</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-left-col">
						<div class="suptitle">Great nature</div>
						<div class="title">Natural beauty surrounding Maldives</div>
						<a href="#" class="a button">LEARN MORE</a>
					</div>
					<div class="slide-right-col">
						<img
							src="../img/header-slider-slide-img-02.jpg"
							alt="">
						<div class="slide-descr">02 TROPICAL PARADISE</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-left-col">
						<div class="suptitle">Sunshine beaches</div>
						<div class="title">Sugar white sand and striking blue water</div>
						<a href="#" class="a button">LEARN MORE</a>
					</div>
					<div class="slide-right-col">
						<img src="../img/header-slider-slide-img-03.jpg" alt="">
						<div class="slide-descr">03 TOTAL RELAX</div>
					</div>
				</div>

			</div>
			<div class="swiper-button swiper-button-next">
				<div class="slide-counter next-slide-counter"></div> <svg version="1.1"
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
					style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
					<g>
						<path
							d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
						</path>
					</g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
				</svg>
			</div>
			<div class="swiper-button swiper-button-prev">
				<div class="slide-counter prev-slide-counter"></div><svg version="1.1"
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
					style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
					<g>
						<path
							d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
						</path>
					</g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
					<g></g>
				</svg>
			</div>
			<div class="slider-counter">
				<span class="current-slide"></span><span class="delimeter">/</span><span class="total-slides"></span>
			</div>
			<span class="progressbar-slide-index"></span>
			<div class="swiper-pagination"></div><span class="progressbar-slide-total"></span>
			<a href="#newsletter" class="scroll_down">
				<div class="scroll_down-wrapper">
					<span >SCROLL DOWN</span>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
						<g>
								<g>
										<path d="M256,0C156.595,0,75.726,82.14,75.726,183.099v145.807C75.726,429.865,156.595,512,256,512
												c99.399,0,180.274-81.886,180.274-182.534V183.099C436.274,82.14,355.399,0,256,0z M402.366,329.466
												c0,81.954-65.656,148.627-146.366,148.627c-80.705,0-146.366-66.927-146.366-149.192V183.099
												c0-82.265,65.661-149.192,146.366-149.192c80.711,0,146.366,66.927,146.366,149.192V329.466z"></path>
								</g>
						</g>
						<g>
								<g>
										<path d="M256,140.15c-9.364,0-16.954,7.59-16.954,16.954v59.338c0,9.364,7.59,16.954,16.954,16.954
												c9.364,0,16.954-7.59,16.954-16.954v-59.338C272.954,147.74,265.364,140.15,256,140.15z"></path>
								</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
				</svg>
				</div>
			</a>
		</div>
	</section>
	<!-- !Section slider -->
	<!-- Section welcome -->
	<section id="welcome">
		<div class="container">
			<div class="row">
				<div class="title-block col-md-12">
					<div class="suptitle">WELCOME TO MALDIVES</div>
					<div class="title title__blue">Maldives is nature's sunken gardenis the world in an island</div>
				</div>
				<div class="col-md-4 text">
					<p>Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s
						nearly 1200 islands and are so consistently perfect that it’s hard not to become blasé about them. While
						some beaches may boast softer granules than others, the basic fact remains: you won't find consistently
						whiter-than-white powder.</p>
				</div>
				<div class="col-md-4 text">
					<p>Every resort in Maldives is its own private island, and with over 100 to choose from the only problem is
						selecting where you want to stay. At the top end, the world’s most exclusive hotel brands compete with each
						other to attain ever-greater heights of luxury, from personal butlers and private lap pools to in-room
						massages and pillow menus. </p>
				</div>
				<div class="col-img">
					<img src="../img/sec-welcome.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- !Section welcome -->
	<!-- Section bestintravel -->
	<section id="bestintravel" class="bestintravel">
		<!-- Swiper -->
		<div class="swiper-container besttravel-carousel">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="../img/sec-slider-img-01.jpg" alt="">
					<div class="caption">
						<h5>Maldives is home to<br>
							perhaps the best beaches<br>
							in the world</h5>
						<div class="descr">They’re on almost every one of the country’s nearly 1200 islands and are so consistently
							perfect that it’s hard not to become blasé about them. While some beaches may boast softer granules.</div>
					</div>
				</div>
				<div class="swiper-slide"><img src="../img/sec-slider-img-01.jpg" alt="">
					<div class="caption">
						<h5>Maldives is home to<br>
							perhaps the best beaches<br>
							in the world</h5>
						<div class="descr">They’re on almost every one of the country’s nearly 1200 islands and are so consistently
							perfect that it’s hard not to become blasé about them. While some beaches may boast softer granules.</div>
					</div>
				</div>
				<div class="swiper-slide"><img src="../img/sec-slider-img-01.jpg" alt="">
					<div class="caption">
						<h5>Maldives is home to<br>
							perhaps the best beaches<br>
							in the world</h5>
						<div class="descr">They’re on almost every one of the country’s nearly 1200 islands and are so consistently
							perfect that it’s hard not to become blasé about them. While some beaches may boast softer granules.</div>
					</div>
				</div>
				<div class="swiper-slide"><img src="../img/sec-slider-img-01.jpg" alt="">
					<div class="caption">
						<h5>Maldives is home to<br>
							perhaps the best beaches<br>
							in the world</h5>
						<div class="descr">They’re on almost every one of the country’s nearly 1200 islands and are so consistently
							perfect that it’s hard not to become blasé about them. While some beaches may boast softer granules.</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-navigation">
				<div class="swiper-button swiper-button-prev">
					<div class="slide-counter prev-slide-counter"></div><svg version="1.1"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
						style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
						<g>
							<path
								d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
							</path>
						</g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
					</svg>
				</div>
				<div class="swiper-button swiper-button-next">
					<div class="slide-counter next-slide-counter"></div> <svg version="1.1"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
						style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
						<g>
							<path
								d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
							</path>
						</g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
					</svg>
				</div>
			</div>
		</div>
		<div class="slider-counter">
			<span class="current-slide"></span><span class="delimeter">/</span><span class="total-slides"></span>
		</div>

		<!-- Swiper JS -->
		<div class="img-overlay"><span>best<br>in<br>travel<br>2019</span></div>
	</section>
	<!-- !Section bestintravel -->
	<!-- Section thewater-->
	<section id="services" class="services">
		<div class="container">
			<div class="row">
				<div class="title-block col-md-12">
					<div class="suptitle">the sunny side of life</div>
					<div class="title title__white">The water is so<br>
						warm many people don’t<br>
						even wear a wetsuit.</div>
				</div>
				<div class="col-md-4">
					<div class="services_item">
						<img src="../img/service-01.png" alt="">
						<h6 class="title">Maldives is home</h6>
						<div class="span descr">The world’s most exclusive hotel brands compete with each other to attain
							ever-greater heights of luxury, from personal butlers and private.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services_item">
						<img src="../img/service-02.png" alt="">
						<h6 class="title">Every resort in Maldives</h6>
						<div class="span descr">The world’s most exclusive hotel brands compete with each other to attain
							ever-greater heights of luxury, from personal butlers and private.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services_item">
						<img src="../img/service-03.png" alt="">
						<h6 class="title">At the top end</h6>
						<div class="span descr">The world’s most exclusive hotel brands compete with each other to attain
							ever-greater heights of luxury, from personal butlers and private.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- !Section thewater-->
	<section id="gallery" class="choice">
		<div class="container">
			<div class="row">
				<div class="title-block col-md-12">
					<div class="suptitle">the sunny side of life</div>
					<div class="title title__blue">Maldives an obvious<br>
						choice for a true holiday<br>
						of a lifetime.</div>
					<p>Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s
						nearly 1200 islands and are so consistently perfect that it’s hard not to become blasé about them. </p>
				</div>
			</div>
		</div>
		<div class="swiper-container-wrapper">
			<div class="swiper-container choice-carousel">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="../img/sec-carousel-01.jpg" alt=""></div>
					<div class="swiper-slide"><img src="../img/sec-carousel-02.jpg" alt=""></div>
					<div class="swiper-slide"><img src="../img/sec-carousel-03.jpg" alt=""></div>
					<div class="swiper-slide"><img src="../img/sec-carousel-04.jpg" alt=""></div>
				</div>
			</div>
			<div class="swiper-navigation">
				<div class="swiper-button swiper-button-prev">
					<div class="slide-counter prev-slide-counter"></div><svg version="1.1"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
						style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
						<g>
							<path
								d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
							</path>
						</g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
					</svg>
				</div>
				<div class="swiper-button swiper-button-next">
					<div class="slide-counter next-slide-counter"></div> <svg version="1.1"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
						style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve">
						<g>
							<path
								d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z">
							</path>
						</g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
						<g></g>
					</svg>
				</div>
			</div>
		</div>

	</section>
	<!-- !Section thewater-->
	<!-- Section blog title-->
	<section id="blog" class="blog-title-section">
		<div class="container">
			<div class="row">
				<div class="title-block col-md-12">
					<div class="suptitle">Recent articles</div>
					<div class="title title__white">Our Blog</div>
					<p>
						While some beaches may boast softer granules than others, the basic fact remains: you won't find consistently whiter-than-white powder.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- !Section blog title-->
	<!-- Section blog content-->
	<section class="blog_section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="blog-item">
						<div class="blog-item_media"><img src="../img/blog1.jpg" alt=""></div>
						<div class="blog-item_content">
							<div class="blog-item-main-content">
								<time>10 hours ago</time>
								<h4 class="blog-item_title title_large">Luxury and local life:
									mixing it up in the Maldives</h4>
							</div>
								<div class="blog-item-additional">
									<span class="blog-item_descr">Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s nearly 1200 islands and are so consistently... </span>
									<a href="#" class="read_more">READ MORE</a>
								</div>
						</div>
					</div>
						<div class="row">
							<div class="col-md-6">
								<div class="blog-item">
									<div class="blog-item_media"><img src="../img/blog2.jpg" alt=""></div>
									<div class="blog-item_content">
										<div class="blog-item-main-content">
											<date>28 December 2018</date>
											<h4 class="blog-item_title">Maldives is home to perhaps
												the best beaches</h4>
										</div>
											<div class="blog-item-additional">
												<span class="blog-item_descr">Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s nearly 1200 islands and are so consistently... </span>
												<a href="#" class="read_more">READ MORE</a>
											</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog-item">
									<div class="blog-item_media"><img src="../img/blog3.jpg" alt=""></div>
									<div class="blog-item_content">
										<div class="blog-item-main-content">
											<date>23 January 2019</date>
											<h4 class="blog-item_title">Dreaming of getting your
												dive ticket? With a combination...</h4>
										</div>
											<div class="blog-item-additional">
												<span class="blog-item_descr">Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s nearly 1200 islands and are so consistently... </span>
												<a href="#" class="read_more">READ MORE</a>
											</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-4">
					<div class="blog-item">
						<div class="blog-item_media"><img src="../img/blog4.jpg" alt=""></div>
						<div class="blog-item_content">
							<div class="blog-item-main-content">
								<date>21 January 2019</date>
								<h4 class="blog-item_title">The best places to swim
									with whale sharks</h4>
							</div>
								<div class="blog-item-additional">
									<span class="blog-item_descr">Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s nearly 1200 islands and are so consistently... </span>
									<a href="#" class="read_more">READ MORE</a>
								</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-item_media"><img src="../img/blog5.jpg" alt=""></div>
						<div class="blog-item_content">
							<div class="blog-item-main-content">
								<date>15 January 2019</date>
								<h4 class="blog-item_title">10 of the world's best
									learn-to-dive destinations</h4>
							</div>
								<div class="blog-item-additional">
									<span class="blog-item_descr">Maldives is home to perhaps the best beaches in the world; they’re on almost every one of the country’s nearly 1200 islands and are so consistently... </span>
									<a href="#" class="read_more">READ MORE</a>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- !Section blog content-->
	<!-- Section newsletter-->
	<section class="section-newsletter" id="newsletter">
		<div class="container">
			<div class="row">
				<div class="title-block col-md-6">
					<div class="title title__white">Subscribe<br>
						Our Newsletter
						</div>
					<p>
						While some beaches may boast softer granules<br> than others, the basic fact remains...
					</p>
				</div>
				<div class="col-md-6 newsletter-form-block">
					<form action="#" class="newsletter-form">
						<input type="email" name="newsletter" placeholder="Enter your email">
						<button ><i class="fa fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- !Section newsletter-->
	<!-- Section footer-->
	<footer>
		<div class="container">
			<div class="footer-main row">
				<div class="col-md-3"><div class="widget">
					<div class="widget-title">About</div>
					<div class="widget-content">
						Istanbul Our Head Office<br>
Mecidiyekoy Yolu Cd. No:12<br>
Istanbul / Turkey<br>

T: +90 (212) 462 21 74 (Pbx)<br>
F: +90 (216) 462 18 74<br>
info@mldvs.com
					</div>
				</div></div>
				<div class="col-md-3"><div class="widget">
					<div class="widget-title">Company</div>
					<div class="widget-content">
						<a href="#">Home</a>
						<a href="#">About us</a>
						<a href="#">Office Team</a>
						<a href="#">Blog</a>
						<a href="#">Contact</a>
					</div>
				</div></div>
				<div class="col-md-3"><div class="widget">
					<div class="widget-title">Connect</div>
					<div class="widget-content">
						<a href="#">Our Guides</a>
						<a href="#">Privacy</a>
						<a href="#">Our Community</a>
						<a href="#">Terms</a>
						<a href="#">Special Offers</a>
					</div>
				</div></div>
				<div class="col-md-3"><div class="widget">
					<div class="widget-title">practical info</div>
					<div class="widget-content">
						<a href="#">Africa</a>
						<a href="#">Asia</a>
						<a href="#">Europe</a>
						<a href="#">North America</a>
						<a href="#">South America</a>
					</div>
				</div></div>
			</div>
			<div class="footer-bottom row">
				<div class="footer-bottom-left">
					<div class="socials_block">
						<a class="soc" href="#" target="blank"><i class="fa fa-facebook-f"></i></a>
						<a class="soc" href="#" target="blank"><i class="fa fa-twitter"></i></a>
						<a class="soc" href="#" target="blank"><i class="fa fa-linkedin"></i></a>
						<a class="soc" href="#" target="blank"><i class="fa fa-google"></i></a>
					</div>
				</div>
				<div class="footer-bottom-right">
					<a href="#" class="copyright">© 2019 - PDM - All rights reserved.</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- !Section footer-->
	<div class="to_top-wrapper">
		<div class="to_top-button">
			<a href="#main-slider" class="to_top">BACK TO TOP</a>
		</div>
	</div>
	</main>
	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>